@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
.line-container{
    position: relative;
    
    min-width: 1000px;
    height: calc(100vh - 61px);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1345px){
    .line-container{
        order: 2;
        min-width: 0;
        width: 100%;
    }
}